@font-face {
  font-family: Equila;
  src: url(fonts/Equila.ttf);
}
@font-face {
  font-family: Cavierbold;
  src: url(fonts/CaviarDreams_Bold.ttf);
}
@font-face {
  font-family: Karla;
  src: url(fonts/Karla-VariableFont_wght.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(fonts/Raleway-VariableFont_wght.ttf);
}
