body {
  min-height: 160vh;
}
.wrapper {
  background: linear-gradient(
    -180deg,
    rgba(222, 222, 226, 0.87),
    rgba(10, 87, 110, 0.87)
  );
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 23%;
  z-index: -1000;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(40, 138, 138);
  padding: 24px;
  background-color: transparent;
}
form {
  min-height: 70vh;
  top: 60px;
  padding: 3em;
}
p {
  height: 4em;
  width: 90%;
  border-radius: 6px;
  outline: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.fa-google {
  color: tomato;
}
.fa-twitter {
  color: rgb(11, 82, 105);
}
.fa-apple {
  color: palevioletred;
}
