@import url("fonts.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(img/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  min-height: 100vh;
  z-index: -100;
}
.wrapper {
  background: linear-gradient(
    90deg,
    rgba(10, 87, 110, 0.87),
    rgba(222, 222, 226, 0.87)
  );
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 23%;
  z-index: -1000;
}
main {
  height: 70vh;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(40, 138, 138);
  padding: 24px;
  background-color: transparent;
}
header h1 {
  text-shadow:
    4px 3px 5px rgba(40, 138, 138, 0.83),
    -4px 3px 5px rgb(41, 138, 140);
  color: rgba(0, 0, 0, 0.9);
  font-family: Equila;
}
.btn {
  padding: 14px;
  margin-top: 2em;
  outline: none;
  border-radius: 4px;
  background-color: rgb(40, 138, 138);
  color: #fff;
  transition: all linear 0.3s;
  border: 1px solid rgb(40, 138, 138);
  font-family: Karla;
  font-weight: 600;
  text-decoration: none;
}
.btn:hover {
  color: rgb(40, 138, 138);
  background-color: #fff;
}
article .hero {
  padding: 2em;
  margin-top: 30px;
  max-width: 800px;
}
.hero h2 {
  font-size: 5em;
  font-family: Cavierbold;
  margin-bottom: 12px;
  font-weight: 800;
}
.hero p {
  font-family: Raleway;
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 400;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid rgb(40, 138, 138);
  padding: 24px;
  background-color: transparent;
}
footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul {
  list-style: none;
}
footer li {
  display: inline;
  margin-left: 24px;
}
footer a {
  text-decoration: none;
  color: rgb(40, 138, 138);
  font-weight: 800;
  font-size: 17px;
  font-family: Karla;
}
footer a:hover {
  color: black;
}
@media (max-width: 50em) {
  body {
    background: none;
  }
  .oth {
    display: none;
  }
main{
    height: 50vh;
}
article .hero{
    padding: 1em;
}
.hero h2{
    font-size: 3.1em;
}
.hero p{
    font-size: 100%;
}
header,
footer{
    padding: 12px;
}
}
